.container-imagem {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .card-imagem {
    background-color: #fff;
    flex: 1 32%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 0.3s;
    border-radius: 10px;
  }
  
  .card-imagem img {
    width: 100%;
  }
  
  .card-imagem-descricao {
    padding: 15px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 0 0 10px 10px;
  }
  