.navbar,
.navbar-logo {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.navbar {
  justify-content: space-between;
}

.navbar-logo h2 {
  width: 250px;
  font-size: 25px;
  font-weight: 400;
  margin-left: 15px;
}

.navbar-menu ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 5px;
}

.navbar ul li a {
  text-decoration: none;
}

.no-active {
  color: #000;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.3s;
  border-bottom: 2px solid #09090b00;
}

.no-active:hover {
  color: #727272;
}

.active {
  margin: 0 10px;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
  color: #09090b;
  border-bottom: 2px solid #09090b;
}

.disable {
  margin: 0 10px;
  font-size: 16px;
  transition: 0.3s;
  cursor: not-allowed;
  color: #cd9122;
  border-bottom: 2px solid #09090b00;
}