* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--background-color-white);
}

:root {
  --background-color-white: #ececec;
}

.App {
  margin: 0 250px;
  overflow: hidden;
}

.container {
  display: flex;
  margin-top: 150px;
  overflow: hidden;
}

.title {
  font-size: 3rem;
  font-weight: 500;
}

.about,
.affiliated,
.championships,
.gallery,
.ranking,
.contact,
.login {
  animation: frame-opacity 0.5s alternate;
}

@keyframes frame-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
